            <div class="container">
              <div class="home_banners_wrapper" style="background-image: url(demo_1180x729.png);">
                <div class="home_banners_inner">
                  <div class="home_banners_nav">
                    <div class="banner-heading not-animated" data-animate="fadeInRight" data-delay="500">
                      today's promotions
                    </div>
                    <div class="banner-action not-animated" data-animate="fadeInRight" data-delay="0">
                      <a class="btn" href="./product.html">advertise with us</a>
                    </div>
                  </div>
                  <div class="home_banners_container">
                    <div id="home_banners" class="clearfix">
                      <div class="banner not-animated" data-animate="fadeInRight" data-delay="1000">
                        <a href="./product.html">
                          <img src="{{'demo_212x212.png' | asset_url}}" alt="">
                        </a>
                      </div>
                      <div class="banner not-animated" data-animate="fadeInRight" data-delay="1500">
                        <a href="./product.html">
                          <img src="{{'demo_212x212.png' | asset_url}}" alt="">
                        </a>
                      </div>
                      <div class="banner not-animated" data-animate="fadeInRight" data-delay="2000">
                        <a href="./product.html">
                          <img src="{{'demo_212x212.png' | asset_url}}" alt="">
                        </a>
                      </div>
                      <div class="banner not-animated" data-animate="fadeInRight" data-delay="2500">
                        <a href="./product.html">
                          <img src="{{'demo_212x212.png' | asset_url}}" alt="">
                        </a>
                      </div>
                      <div class="banner not-animated" data-animate="fadeInRight" data-delay="3000">
                        <a href="./product.html">
                          <img src="{{'demo_212x212.png' | asset_url}}" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>