<section id="page-title">
<div id="cart" class="container">
  <!-- Begin empty cart -->
  {% if cart.item_count == 0 %}
  <div class="row">
    <div class="col-sm-24 expanded-message">
      <br>
      <br>
      <h2 class="text-center font30 blue">Your cart is empty! <br><br><i class="fa fa-shopping-cart fa-3x"></i></h2>

    </div>
  </div>
  <!-- End empty cart -->

<!-- Begin cart -->
  {% else %}

   <div id="content" class="container clearfix">
        <div id="breadcrumb" class="row breadcrumb">
          <div class="col-md-24" itemprop="breadcrumb">
            <a href="/" class="homepage-link" title="Back to the frontpage">Home</a>
            <i class="angle-right">/</i>
            <span class="page-title">Your Shopping Cart</span>
          </div>
        </div>
        <section class="row content">
          <div id="col-main" class="col-md-24 hidden-xs cart-page content">
            <div id="page-header">
              <h1 id="page-title">Shopping Cart</h1>
            </div>
            <form action="./cart.html" method="post" id="cartform" class="clearfix">
              <div class="row-fluid">
                <div class="wrap-table">
                  <table class="cart-items haft-border">
                    <colgroup>
                      <col class="checkout-image">
                      <col class="checkout-info">
                      <col class="checkout-price">
                      <col class="checkout-quantity">
                      <col class="checkout-totals">
                      <col class="checkout-delete">
                    </colgroup>
                    <thead>
                      <tr class="top-labels">
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>SubTotal</th>
                        <th>Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for item in cart.items %}
                      <tr class="item suspendisse-tortor-lacus">

                        <td class="title">
                          <ul class="list-inline">
                            <li class="image">
                              <a href="{{item.product.url | within: collections.all}}">
                                <img src="{{ item.product.featured_image.src | product_img_url: 'small' }}" alt="{{item.title}}">
                              </a>
                            </li>
                            <li class="link">
                              <a href="{{item.product.url | within: collections.all}}">
                                <span class="block">{{item.title}}<i class="fa fa-caret-right"></i></span>
                              </a>
                            </li>
                          </ul>
                        </td>
                        <td class="title-1"><span class="money">{{item.price | money}}</span></td>
                        <td>
                          <input class="form-control input-1" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-min="" data-max="0" title="Qty" maxlength="12">
                        </td>
                        <td class="total title-1"><span class="money">{{ item.line_price | money }}</span></td>
                        <td class="action">
                          <button class="btn-7 btooltip" type="button" onclick="window.location='#'" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><a href="/cart/change?line={{ forloop.index }}&quantity=0"><i class="fa fa-times"></i></a></button>
                        </td>
                      </tr>
                      {% endfor %}

                    </tbody>
                    <tfoot>
                      <tr class="bottom-summary">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="update-quantities"><button id="update-cart" class="btn btn-4" type="submit" name="update" value="Update cart" >Update Qty</button></td>

                        <td class="subtotal title-1"><span class="money">{{cart.total_price | money}}</span></td>
                        <td>&nbsp;</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <br>
              <div class="row">
                <div id="checkout-proceed" class="last1 text-right">
                  <button class="btn btn-3" type="submit" name="checkout" value="Check out">Proceed to Checkout</button>
{% if additional_checkout_buttons %}

<div class="additional-checkout-buttons">
  <p>- or -</p>
  {{ content_for_additional_checkout_buttons }}
</div>

{% endif %}
                </div>
              </div>
              <div class="row">
                <div id="checkout-addnote" class="col-md-10 last">
                  <div class="wrapper-title">
                    <span class="title-3">Add a note for the seller</span>
                    <span class="line"></span>
                  </div>
                  <textarea id="note" rows="5" class="form-control" name="note">{{ cart.note }}</textarea>
                </div>
              </div>
            </form>

                <a href="/collections" class="pull-right btn btn-2 large">Continue Shopping</a> <br>
          </div>
        </section>

        {% include 'mobile-cart' %}
      </div>
    </div>
  </div>



  {% endif %}





  <!-- End cart -->

</div>
</section>

